.data {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.data p {
  display: flex;
  align-items: center;
  gap: 5px;
}

.myIcon {
  color: rgb(14, 54, 164);
}

.buttons > * {
  width: 75px;
}
